.app-header {
  position: relative;
  border-top: 3px solid rgb(55, 135, 255);
  box-shadow: 0 1px 0 rgba(12,13,14,0.1), 0 1px 6px rgba(59,64,69,0.1);
  height: 50px;
  background-color: #fff;
  &_nav {
    margin-left: auto;
    height: 100%;
  }
}