.current-weather {
  &_container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
  }
  &_location {

  }
  &_temp-info {
    display: flex;
    align-items: center;
  }
  &_icon {

  }
  &_temperature {
    font-size: 4rem;
    margin-left: 1rem;
    margin-right: 1rem;
    &-c {

    }
    &-f {

    }
  }
  &_temp-t-list {
    list-style-type: none;
  }
  &_temp-t-item {
    text-transform: uppercase;
    &-active {
      font-weight: bold;
    }
  }
  &_summary {
    font-size: 1.5rem;
  }
  &_update-time {
    font-size: 0.875rem;
    font-weight: bold;
    font-style: italic;
    line-height: 2;
  }
  &_info {
    padding-top: 20px;
    list-style-type: none;
    display: inline-flex;
    flex-wrap: wrap;
  }
  &_info-item {
    flex-basis: 33%;
  }

}