.nav {
  height: inherit;
  &_list {
    display: flex;
    list-style-type: none;
  }
  &_item {
    height: 100%;
    &:hover {
      background-color: #e9e9e9;
      & > a {
        color: #2a2d30;
      }
    }
    &:last-child {
      margin-right: 0;
    }
    & > a {
      display: inline-flex;
      align-items: center;
      height: 100%;
      padding-left: 20px;
      padding-right: 20px;
      color: #4a5157;
      text-decoration: none;
      font-size: 0.875rem;
    }
    &-active {

      & > a {

      }
    }
  }
}